DATABASE_URL="postgresql://postgres.ovheqllhanbjsfwcvnad:trattoriadapiero@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require"
NEXT_PUBLIC_WHATSAPP_NUMBER="+393276976442"
NEXT_PUBLIC_EMAIL="trattoriadapiero@mondello.it"
NEXT_PUBLIC_FACEBOOK_URL=""
NEXT_PUBLIC_INSTAGRAM_URL=""
NEXT_PUBLIC_MAPS_URL=""



